body {
    background-image: url("/Users/danielberrones/Downloads/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#myDiv, #myDiv1, #myDiv2 {
    height: 300px;
    margin: 10px;
    width: 350px;
    outline: 2px dashed white;
}

button {
    font-size: 2rem;
    /* color:white; */
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}