
/* DESKTOP */
@media screen and (min-width: 1050px) {
    body {
        background-image: url('http://picsum.photos/1200/1000/?random=1');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .items{
        height:300px;
        width:400px;
        border:2px solid red;
    }


}

/* TABLET */

@media screen and (min-width: 750px) {
    body {
        background-image: url('http://picsum.photos/800/800/?random=2');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .items{
        height:300px;
        width:400px;
        border:4px double cyan;
    }
}

/* MOBILE */

@media screen and (min-width: 550px) {
    body {
        background-image: url('http://picsum.photos/500/600/?random=3');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .items{
        height:300px;
        width:400px;
        border:2px dashed blue;
    }
}

