*{
    padding:0;
    margin:0;
}

header > img {
    max-height:120px;
    max-width: 300px;
}

body {
    background-image: url("http://picsum.photos/910/800?random=4");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    margin-top:130px;
    color: #ffffff;
    background:black;
    padding:20px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1, h2 {
    color: #ffffff;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

nav{
    /* padding-top: 20px; */
    height:90px;
    background: rgb(174, 94, 94);
    width:100%;
    position: fixed;
    top:0;
    /* display:flex;
    align-items: flex-end; */
}
ul{
    float: right;
}
li{
    display: inline-block;
}
li a{
    font-size:3rem;
    color:white;
    text-decoration: none;
    font-family: helvetica;
    font-weight: 200;
    /* padding: 10px; */
    letter-spacing: 1.3px;
}
p {
    color: white;
    font-size: 1.25rem;
    font-family: helvetica;
    text-align: justify;
    font-weight: 200;
    padding: 10px;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.child-element {
    height: 310px;
    width: 890px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    outline: 1px solid wheat;
    background: rgba(0, 16, 16, .6);
}

@media only screen and (max-width: 900px) {
    .parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .child-element {
        height: 500px;
        width: 100%;
        margin: 10px;
        padding: 10px;
        text-align: center;
        outline: 2px solid red;
        /* background: rgb(0, 16, 16); */
    }
}